*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  display:flex;
  flex-wrap:wrap;
  text-align: center;
  flex-direction: column;

}

nav{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

nav a{
    font-size:large;
    color:black;
}

nav a:hover{
    font-size:30px;
    background-color:blue;
    color:white;
    padding:4px;
    border-radius: 10px;
}

nav timer{
    font-size:30px;
    font-weight:bold;
}

.start-page{
    padding: 2%;
}

.start-page h1{
    font-size:55px;
    text-decoration: underline;
}

.start-page h2{
    font-size:20px;
    margin:45px;
}

.start-page h3{
    font-size:30px;
}

button{
    border-radius: 10px;
    font-size: 20px;
    padding:12px 28px;
    background-color: rgb(15, 23, 138); 
}

.btn{
    color:white;
}

button:hover{
    font-size:25px;
    background-color:blue;
    text-decoration: underline;
}